table{
    border-spacing: 0px;
    border: 1px solid grey;
    margin-bottom: 3em;
}

th{
    background: #fafafa;
    border: 1px solid grey;
}
td{
    border: 1px solid grey;
    color: white;
    padding:  0 0.3em;
    
}
body {
	/* margin: 0; */
	padding: 0;
	font-family: sans-serif;
	background-image: url(fondo-pantalla.jpg);
	background-size: cover;
    max-width: 1366px;
    margin: 0 auto;
}

h2{
    max-width: 70%;
    margin: 0 auto;
    color: #fafafa;
}

.container-form{
    border: 1px solid #fafafa;
    padding: 1em;
    max-width: 50%;    
    margin: 0 auto;
   
}
.container-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container-form label{
    color: #fafafa;
    margin-bottom: .5em;
}
.container-form textarea{
    margin-bottom: 1em;
    padding: 1em;
    height: 12em;
    
}
.container-form .form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-incidencias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
}
.rol{
    
    margin: 2em 5em;
    color: #fafafa;
}
td:last-child{
    display: flex;
    justify-content: center;
}
td img{
    filter: invert(100%);
    
}
td img:hover{
        cursor: pointer;
    
}